<div>
    <mat-toolbar class="toolbar1">
        <p class="add_criteria">Add Item</p>
        <img (click)="dialogRef.close()" style="cursor: pointer;" src="assets/images/cancel1.png">
    </mat-toolbar>
</div>
<mat-dialog-content [formGroup]="DialogueFormGroup">
    <div style="padding: 2rem;" fxLayout="column">
        <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="3%">

            <!-- <mat-form-field fxFlex=30 style="font-size: 14px;display: none;" appearance="outline">
                <mat-label>Item</mat-label>
                <input matInput formControlName="Item" fxFlex autocomplete="off">
                <mat-error
                    *ngIf="DialogueFormGroup.get('Item').touched && DialogueFormGroup.get('Item').hasError('required')">
                    Item is required
                </mat-error>
            </mat-form-field> -->

            <mat-form-field fxFlex=30 style="font-size: 14px;" appearance="outline">
                <mat-label>Material</mat-label>
                <mat-select formControlName="material" fxFlex (selectionChange)="MaterialSelected($event.value)"
                    disableOptionCentering panelClass="myPanelClass">
                    <mat-option *ngFor="let item of MaterialMaster" [value]="item.Material">{{item.Material}}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="DialogueFormGroup.get('material').touched && DialogueFormGroup.get('material').hasError('required')">
                    Material is required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex=30 style="font-size: 14px;" appearance="outline">
                <mat-label>Material Text</mat-label>
                <input matInput formControlName="material_text" fxFlex autocomplete="off">
                <mat-error
                    *ngIf="DialogueFormGroup.get('material_text').touched && DialogueFormGroup.get('material_text').hasError('required')">
                    Material Text is required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex=30 style="font-size: 14px;" appearance="outline">
                <mat-label>UOM</mat-label>
                <input matInput maxlength="3" size="3" formControlName="Uom" fxFlex autocomplete="off">
                <mat-error
                    *ngIf="DialogueFormGroup.get('Uom').touched && DialogueFormGroup.get('Uom').hasError('required')">
                    UOM is required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex=30 style="font-size: 14px;" appearance="outline">
                <mat-label>Total Qty</mat-label>
                <input  matInput type="number"  formControlName="TotalQty" min="0" (keyup)="CalculateTotalQTy()"
                    oninput="this.value = Math.abs(this.value)" fxFlex autocomplete="off">
                <mat-error
                    *ngIf="DialogueFormGroup.get('TotalQty').touched && DialogueFormGroup.get('TotalQty').hasError('required')">
                    Total Quantity is required
                </mat-error>
                <!-- <mat-error *ngIf="DialogueFormGroup.get('TotalQty').hasError('pattern')">Enter
                    only 3 decimal digits</mat-error> -->
               <mat-error *ngIf="DialogueFormGroup.get('TotalQty').touched && DialogueFormGroup.get('TotalQty').hasError('min')">Total Qty should not be less than per schedule qty</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex=30 style="font-size: 14px;" appearance="outline">
                <mat-label>Per Schedule Qty</mat-label>
                <input matInput formControlName="per_schedule_qty" type="number"  fxFlex autocomplete="off" min="0"
                    oninput="this.value = Math.abs(this.value)" (keyup)="CalculateTotalSchedules()">
                <mat-error
                    *ngIf="DialogueFormGroup.get('per_schedule_qty').touched && DialogueFormGroup.get('per_schedule_qty').hasError('required')">
                    Per Schedule Quantity is required
                </mat-error>
                <!-- <mat-error *ngIf="DialogueFormGroup.get('per_schedule_qty').hasError('pattern')">Enter
                    only 3 decimal digits</mat-error> -->
                    <mat-error *ngIf="DialogueFormGroup.get('per_schedule_qty').touched && DialogueFormGroup.get('per_schedule_qty').hasError('max')">Per schedule qty should be less than TotalQty</mat-error>
            </mat-form-field>


            <mat-form-field fxFlex=30 style="font-size: 14px;" appearance="outline">
                <mat-label>Total Schedules</mat-label>
                <input matInput type="number" formControlName="totalSchedules" fxFlex autocomplete="off">
            </mat-form-field>

            <mat-form-field fxFlex=30 style="font-size: 14px;" appearance="outline">
                <mat-label>Bidding Price Low</mat-label>
                <input matInput formControlName="LowPrice" type="number" fxFlex autocomplete="off" min="0"
                    oninput="this.value = Math.abs(this.value)">
                <mat-error
                    *ngIf="DialogueFormGroup.get('LowPrice').touched && DialogueFormGroup.get('LowPrice').hasError('required')">
                    Bidding price low is required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex=30 style="font-size: 14px;" appearance="outline">
                <mat-label>Bidding Price High</mat-label>
                <input matInput formControlName="HighPrice" type="number" fxFlex autocomplete="off" min="0"
                    oninput="this.value = Math.abs(this.value)">
                <mat-error
                    *ngIf="DialogueFormGroup.get('HighPrice').touched && DialogueFormGroup.get('HighPrice').hasError('required')">
                    Bidding Price High is required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex=30 style="font-size: 14px;" appearance="outline">
                <mat-label>Interval</mat-label>
                <input matInput formControlName="Interval" type="number" fxFlex autocomplete="off" min="0"
                    oninput="this.value = Math.abs(this.value)">
                <mat-error
                    *ngIf="DialogueFormGroup.get('Interval').touched && DialogueFormGroup.get('Interval').hasError('required')">
                    Interval is required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex=30 style="font-size: 14px;" appearance="outline">
                <mat-label>Incoterm</mat-label>
                <input matInput formControlName="incoterm" max="2" size="2" fxFlex autocomplete="off">
                <mat-error
                    *ngIf="DialogueFormGroup.get('incoterm').touched && DialogueFormGroup.get('incoterm').hasError('required')">
                    Incoterm is required
                </mat-error>
                <mat-error
                    *ngIf="DialogueFormGroup.get('incoterm').touched && DialogueFormGroup.get('incoterm').hasError('pattern')">
                    Incoterm should be less than 2 characters
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex=30 style="font-size: 14px;" appearance="outline">
                <mat-label>First Schedule Start (In days)</mat-label>
                <input matInput formControlName="LeadTime" type="number" fxFlex autocomplete="off" min="0"
                    oninput="this.value = Math.abs(this.value)">
                <mat-error
                    *ngIf="DialogueFormGroup.get('LeadTime').touched && DialogueFormGroup.get('LeadTime').hasError('required')">
                    Lead time is required
                </mat-error>
            </mat-form-field>
        </div>

        <div fxFlex>

            <mat-form-field fxFlex style="font-size: 14px;" appearance="outline">
                <mat-label>Notes</mat-label>
                <textarea matInput formControlName="Notes" max="2" size="2" fxFlex autocomplete="off"></textarea>
                <mat-error
                    *ngIf="DialogueFormGroup.get('Notes').touched && DialogueFormGroup.get('Notes').hasError('required')">
                    Notes is required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="30">
            <p class="attachment">Attachment</p>
            <div>
                <ngx-dropzone (change)="onSelect($event)" class="cl_div">
                    <div *ngIf="!SelectedFileName">
                        <span style="color: #068dd0;font-size: 12px;">Drop here to upload or <a
                                style="text-decoration: underline;">choose file</a></span>
                    </div>
                    <div *ngIf="SelectedFileName" fxLayout="row wrap" fxLayoutAlign="center center">
                        <span>{{SelectedFileName}}</span>
                    </div>
                </ngx-dropzone>
            </div>
            <p style="color: #f44336;font-size: 12px;" *ngIf="FileError">Attachement is required</p>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center">
    <button mat-button class="cl_button1" (click)="Save()"><span class="add">{{data.isCreate?'Add':'Save'}}</span>
    </button>
</mat-dialog-actions>