@import "src/@fuse/scss/fuse";
.foreclose-dialog {
  @include media-breakpoint("xs") {
    width: 100%;
  }

  @include media-breakpoint-up("sm") {
    width: 560px;
  }
  .mat-radio-button {
    margin: 0 5px;
  }
  .mat-dialog-container {
    padding: 0;
    border-radius: 0px;
  }

  .dialog-content-wrapper {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .toolBg {
    background-color: #121214 !important;
    color: white !important;
  }
  .btclose{  
    background-color:#068dd0 !important;
    color:  white !important;
}
.toolbar1{
    /* width: 449px; */
    height: 46px;
    box-shadow: 0 3px 6px 0 #0000001a;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .add_criteria{
    /* width: 1px; */ 
    /* height: 23px; */
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #595d6e;
    /* margin-top: 7px; */
    /* margin-left: 146px; */
  }
  .cl_button1.mat-button {
      color: white !important;
      background: #068dd0 !important;
    }
    .cl_button1{
        width: 85px;
        height: 29px;
        border-radius: 2px;
        background-color: #068dd0;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: 161px;
        margin-top: 42px; */
      }
}
