@import "src/@fuse/scss/fuse";

fuse-sidebar {

    &.navbar-fuse-sidebar {
        overflow: hidden;
        background-color: #ffffff;
        box-shadow: 2px 0 6px 0 rgba(246, 246, 248, 0.4);

        &.folded:not(.unfolded) {

            navbar {

                navbar-vertical-style-1 {

                    .navbar-top {
                        padding: 12px 0;
                        justify-content: center;

                        .buttons {
                            // display: none;
                            margin-left: 5px;
                        }

                        .logo {

                            .logo-icon {
                                width: 32px;
                                height: 32px;
                            }

                            .logo-text {
                                display: none;
                            }
                        }
                    }

                    .navbar-scroll-container {
                        // box-shadow: 2px 0 6px 0 rgba(246, 246, 248, 0.4);
                        background-color: #ffffff;
                        .user {
                            padding: 12px 0;
                            height: 64px;
                            min-height: 64px;
                            max-height: 64px;

                            .avatar-container {
                                position: relative;
                                top: auto;
                                padding: 0;
                                transform: translateX(0);
                                left: auto;

                                .avatar {
                                    width: 40px;
                                    height: 40px;
                                }
                            }

                            .username,
                            .email {
                                display: none;
                            }
                        }

                        .navbar-content {
                            padding-top: 0;
                        }
                    }
                    .navbar-down {
                        .buttons {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

navbar {

    &.vertical-style-1 {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        &.right-navbar {

            .toggle-sidebar-opened {

                mat-icon {
                    transform: rotate(180deg);
                }
            }
        }
    }

    navbar-vertical-style-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .logo-wrapper{
            .logo{
                overflow: hidden;
            }
        }
        .navbar-top {
            display: flex;
            flex-direction: row;
            flex: 1 0 auto;
            align-items: center;
            justify-content: space-between;
            min-height: 64px;
            max-height: 64px;
            height: 64px;
            padding: 12px 12px 12px 20px;

            @include media-breakpoint('xs') {
                min-height: 56px;
                max-height: 56px;
                height: 56px;
            }

            .logo {
                display: flex;
                align-items: center;

                .logo-icon {
                    width: 138px;
                    height: 50px;
                }

                .logo-text {
                    margin-left: 12px;
                    font-size: 16px;
                    font-weight: 300;
                    letter-spacing: 0.4px;
                    line-height: normal;
                }
            }

            .buttons {
                margin-left: 200px;
            }
        }

        .navbar-scroll-container {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            .user {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                height: 136px;
                min-height: 136px;
                max-height: 136px;
                padding: 24px 0 64px 0;

                .avatar-container {
                    position: absolute;
                    top: 92px;
                    border-radius: 50%;
                    padding: 8px;
                    transform: translateX(-50%);
                    left: 50%;

                    .avatar {
                        width: 72px;
                        height: 72px;
                        margin: 0;
                    }
                }
            }

            .navbar-content {
                flex: 1 1 auto;
            }
        }
    }
}
.borderTop {
    border-top-color: white !important;
}
.powerClass {
    cursor: pointer !important;
    color: white;
    //height: 25px;
}
.log-text{
    font-size: 12px;
    font-weight: 600;
    color: #394256;
}
.login-wrapper-folded{
    width: 38px;
    align-items: flex-end !important;
}
.login-wrapper-expanded{
    width: 194px;
}
