<div class="dialog-content-wrapper">
    <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <p class="title">Add partner</p>
        <img (click)="dialogRef.close()" src="assets/images/cancel1.png" style="cursor: pointer;">
    </mat-toolbar>

    <mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <form autocomplete="off" [formGroup]="DialogueFormGroup" fxLayout="column">
            <mat-form-field fxFlex=100 style="font-size: 14px;" appearance="outline">
                <mat-label>Partner type</mat-label>
                <mat-select formControlName="Partner" fxFlex (selectionChange)="RoleSelected($event.value)"  disableOptionCentering panelClass="myPanelClass">
                    <mat-option value="Evaluator"> Evaluator </mat-option>
                    <mat-option value="Award Committee"> Award Committee </mat-option>
                    <mat-option value="Notifier"> Notifier </mat-option>
                </mat-select>
                <mat-error
                *ngIf="DialogueFormGroup.get('Partner').touched && DialogueFormGroup.get('Partner').hasError('required')">
                Partner is required
            </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex=100 style="font-size: 14px;" appearance="outline">
                <mat-label>User table</mat-label>
                <mat-select formControlName="User" fxFlex multiple  disableOptionCentering panelClass="myPanelClass cl_mat-select-panel" >
                    <mat-option *ngFor="let user of Users" [value]="user"> {{user}} </mat-option>
                </mat-select>
                <mat-error
                *ngIf="DialogueFormGroup.get('User').touched && DialogueFormGroup.get('User').hasError('required')">
                User table is required
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="m-0 p-16 footer" fxLayoutAlign="center center">
        <button mat-button type="button" class="savebtn" (click)="Save()">{{data.isCreate?'Add':'Save'}}</button>
    </mat-dialog-actions>
</div>