:host {
  .folded:not(.unfolded) & {
    .nav-link {
      > .nav-link-title,
      > .nav-link-badge {
        opacity: 0;
        transition: opacity 200ms ease;
      }
    }
  }
}
.accent1 {
  background-color: #5f2cff;
  color: #ffffff!important;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

a:not(.accent1) {
  color: #3e485a !important;
  font-size: 12px;
  font-weight: 600;
}
.active_dot{
  height: 4px;
  width: 4px;
  background-color: #5f2cff;
  border-radius: 50%;
  opacity: 0.6;
  margin-right: 8px;
}