.cl_toolbar{
    width: 100%;
    height: 55px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff !important;
  } 
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .cl_card{
    //   border-top: 4px solid #29abe2;
      margin-top: 1.5rem;
      padding-top: 10px;
    }
    .mat-elevation-z8 {
      box-shadow: none;
    }
    table {
      width: 103%;
      margin-top: 10px;
      margin-left: -16px;
      margin-right: 0px;
      }
      .header-cell{
        font-size: 14px;
        font-weight: 500;
        color: #595d6e;
        background-color:#ecf8fa;
      }
      .td-cell{
        color: #48465b;
        font-size: 12px;
      }
      .header-center-align{
        justify-content: center;
      }
      td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
        padding-right: 0 !important;
    }
    .space_left{
      margin-right: 2.5rem;
    }
      .cl_header1{
      font-size: 14px;
      font-weight: 500;
      color:#333333;
  }
  .mat-row.highlighted .mat-cell  {
    background-color: #c3e1e6 !important;
  }
  .footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: white;
    box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.1);
    }
    .cl_button4.mat-button {
      color: white !important;
      background: #2acb68 !important;
      }
      .cl_button4{
        border-radius: 2px;
        border: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .cl_card3{
        // margin-top: 15px;
        height: 140px;
        margin:20px;
        /* margin-left:15px;
        margin-right:15px; */
        /* height:380px; */
      }
      .cl_divider_header{
        height: 1px;
        border-top: 1px solid #068dd0;
        opacity: 0.6;
    }