@import "src/@fuse/scss/fuse";
#dashboard {
    .poppins{
        font-family: Poppins;
        font-weight: 600;
    }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .cl_card{
    //   border-top: 4px solid #29abe2;
      margin-top: 1.5rem;
      padding-top: 10px;
    }
    .mat-elevation-z8 {
      box-shadow: none;
    }
    .tab-title{
      @extend .poppins;
      font-size: 14px;
      color: #5f2cff;
  }
  .releasebtn{
    background-color: #5f2cff;
    @extend .poppins;
    color: #ffffff;
    font-size: 12px;
}
    table {
      width: 100%;
  
      th {
        color: white;
        background-color: #5f2cff;
      //   box-shadow: 0 3px 6px 0 rgba(95, 44, 255, 0.12);
         @extend .poppins;
      }
  
      td {
         @extend .poppins;
        font-size: 11px;
        color: #3e485a;
        min-width: max-content !important;
      }

      td.mat-cell{
          border-bottom-color: transparent;
      }
  
      tr {
        height: 42px;
      }
      th.mat-header-cell:first-child {
          border-top-left-radius: 4px !important;
          border-bottom-left-radius: 4px !important;
      }

      th.mat-header-cell:last-child {
          border-top-right-radius: 4px !important;
          border-bottom-right-radius: 4px !important;
      }
  }
    .space_left{
      margin-right: 2.5rem;
    }
      .cl_header1{
      font-size: 14px;
      font-weight: 500;
      color:#333333;
  }
  .mat-row.highlighted .mat-cell  {
    background-color: #03a9f4 !important;
  }
  .footer{
    width: 60%;
    height: 58px;
    border-radius: 4px;
    box-shadow: 0 2px 18px 0 rgba(74, 122, 255, 0.38);
    background-color: #fdfdfd;
    position: absolute;
    bottom: 12px;
    z-index: 1;
    left: 20%;
}
    .cl_button4.mat-button {
      color: white !important;
      background: #2acb68 !important;
      }
      .cl_button4{
        border-radius: 2px;
        border: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .cl_card3{
        margin-top: 15px;
        height: 140px;
        margin: 20px;
      }
      .cl_divider_header{
        height: 1px;
        border-top: 1px solid #068dd0;
        opacity: 0.6;
    }
  }