@import "src/@fuse/scss/fuse";
.menu{
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
}
toolbar {
  // background: url("/assets/images/backgrounds/header 2.png") no-repeat;
  // background-repeat: no-repeat;
  // background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  z-index: 4;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(141, 167, 255, 0.1);
  &.below {
    z-index: 2;
  }

  .mat-toolbar {
    position: relative;
    background: inherit !important;
    color: inherit !important;
    height: 50px;
  }

  .logo {
    width: 90px;
    margin-left:5%;
  }
  .title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    color: #2c2c2e;
  }

  .vdivider{
    border-right: solid 2px #f9f9f9;
    height: 26px;
  }

  .user-button,
  fuse-search-bar,
  .language-button,
  .chat-panel-toggle-button,
  .quick-panel-toggle-button {
    min-width: 45px;
    height: 45px;

    @include media-breakpoint-down("xs") {
      height: 56px;
    }
  }

  .navbar-toggle-button {
    min-width: 40px;
    height: 40px;
  }
  .toolbar-separator {
    height: 25px;
    width: 2px;

    @include media-breakpoint-down("xs") {
      height: 20px;
    }
  }
}
