<mat-toolbar class="p-0 toolbar">

    <div fxFlex=33.3 fxLayout="row" fxLayoutAlign="start center">
        <img src="assets/images/rfq/Exalca_Logo.jpg" class="logo">
    </div>
    <div fxFlex=33.3 fxLayoutAlign="center center">
        <Label class="title">RFx</Label>
    </div>
    <div fxFlex=33.3 fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2rem" style="margin-right: 1.5rem;">
        <label class="title">{{CurrentLoggedInUser}}</label>
        <div class="vdivider"></div>
        <img src="assets/images/rfq/Settings.svg" style="width: 16px;">
        <img src="assets/images/rfq/Email.svg" style="width: 22px;">
        <div class="vdivider"></div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/rfq/User.jpg" style="width: 36px;margin-right: 4px;">
            <img src="assets/images/rfq/down_arrow.svg">
        </div>
    </div>

</mat-toolbar>
