<div id="rfq-response" fxFlex fusePerfectScrollbar>
    <div fxLayout="column" fxLayoutAlign="start center" class="py-8 px-24">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" style="width: 100%;">
            <button mat-icon-button (click)="CancelClicked()">
                <img src="assets/images/rfq/backbutton.svg" style="width: 24px;">
            </button>
            <label class="title">{{Rfxheader.Title}}</label>
        </div>
        <div class="container mt-8 p-8">
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabClick($event)" color="accent"
                backgroundColor="primary" class="tab-group">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>General data</span>
                    </ng-template>
                    <mat-card>
                        <form autocomplete="off" [formGroup]="RFxFormGroup">
                            <div>
                                <div fxLayout="row" fxLayoutAlign="space-between center"
                                    style="padding: 2.5rem 2rem 0 2rem;">
                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>RFQ type</mat-label>
                                        <mat-select formControlName="RfqType" fxFlex disableOptionCentering
                                            panelClass="myPanelClass">
                                            <mat-option *ngFor="let type of RFxTypeMasters" [value]="type.RFQType">
                                                {{type.Text}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>RFQ group</mat-label>
                                        <mat-select formControlName="RfqGroup" fxFlex disableOptionCentering
                                            panelClass="myPanelClass">
                                            <mat-option *ngFor="let group of RFxGroupMasters" [value]="group.RFQGroup">
                                                {{group.Text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field fxFlex=34.125 style="font-size: 14px;" appearance="outline">
                                        <mat-label>RFQ title</mat-label>
                                        <input matInput type="text" formControlName="RfqTitle" fxFlex>
                                    </mat-form-field>
                                    <mat-form-field fxFlex=11.375 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Currency</mat-label>
                                        <mat-select formControlName="Currency" fxFlex disableOptionCentering
                                            panelClass="myPanelClass">
                                            <mat-option *ngFor="let currency of CurrencyList" [value]="currency">
                                                {{currency}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center"
                                    style="padding: 2rem 2rem 0 2rem;">
                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Validity start date</mat-label>
                                        <input [min]="minDate" matInput [matDatepicker]="picker1"
                                            formControlName="ValidityStartDate" fxFlex>
                                        <mat-datepicker-toggle matSuffix [for]="picker1">
                                            <img src="assets/images/calendar.png" matDatePickerToggleIcon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Validity start time</mat-label>
                                        <input matInput [ngxTimepicker]="picker9" formControlName="ValidityStartTime"
                                            fxFlex>
                                        <ngx-material-timepicker #picker9></ngx-material-timepicker>
                                    </mat-form-field>

                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Validity end date</mat-label>
                                        <input matInput [min]="RFxFormGroup.get('ValidityStartDate').value"
                                            [matDatepicker]="picker2" formControlName="ValidityEndDate" fxFlex>
                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                            <img src="assets/images/calendar.png" matDatePickerToggleIcon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Validity end time</mat-label>
                                        <input matInput [ngxTimepicker]="picker10" formControlName="ValidityEndTime"
                                            fxFlex>
                                        <ngx-material-timepicker #picker10></ngx-material-timepicker>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="space-between center"
                                    style="padding: 2rem 2rem 0px;">

                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Response start date</mat-label>
                                        <input matInput [min]="RFxFormGroup.get('ValidityStartDate').value"
                                            [max]="RFxFormGroup.get('ValidityEndDate').value" [matDatepicker]="picker3"
                                            formControlName="ResponseStartDate" fxFlex>
                                        <mat-datepicker-toggle matSuffix [for]="picker3">
                                            <img src="assets/images/calendar.png" matDatePickerToggleIcon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Response start time</mat-label>
                                        <input matInput [ngxTimepicker]="picker6" formControlName="ResponseStartTime"
                                            fxFlex>
                                        <ngx-material-timepicker #picker6></ngx-material-timepicker>
                                    </mat-form-field>

                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Response end date</mat-label>
                                        <input matInput [min]="RFxFormGroup.get('ResponseStartDate').value"
                                            [max]="RFxFormGroup.get('ValidityEndDate').value" [matDatepicker]="picker4"
                                            formControlName="ResponseEndDate" fxFlex>
                                        <mat-datepicker-toggle matSuffix [for]="picker4">
                                            <img src="assets/images/calendar.png" matDatePickerToggleIcon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker4></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Response end time</mat-label>
                                        <input matInput [ngxTimepicker]="picker7" formControlName="ResponseEndTime"
                                            fxFlex>
                                        <ngx-material-timepicker #picker7></ngx-material-timepicker>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3%"
                                    style="padding: 2rem;">

                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Evaluation end date</mat-label>
                                        <input matInput [min]="RFxFormGroup.get('ResponseStartDate').value"
                                            [max]="RFxFormGroup.get('ValidityEndDate').value" [matDatepicker]="picker5"
                                            formControlName="EvaluationEndDate" fxFlex>
                                        <mat-datepicker-toggle matSuffix [for]="picker5">
                                            <img src="assets/images/calendar.png" matDatePickerToggleIcon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker5></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Evaluation end time</mat-label>
                                        <input matInput [ngxTimepicker]="picker8" formControlName="EvaluationEndTime"
                                            fxFlex>
                                        <ngx-material-timepicker #picker8></ngx-material-timepicker>
                                    </mat-form-field>

                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Minimum no. of evaluators</mat-label>
                                        <input matInput formControlName="Evaluator" fxFlex type="number">
                                    </mat-form-field>
                                    <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                        <mat-label>Site</mat-label>
                                        <input matInput formControlName="Site" fxFlex>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </mat-card>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Criteria</span>
                    </ng-template>
                    <mat-card>
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-24">
                                <label class="tab-title">Item Criterias</label>
                            </div>
                                <table mat-table [dataSource]="RatingDetailsDataSource" matSort class="py-10">
                                    <ng-container matColumnDef="Criteria">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Criteria </th>
                                        <td mat-cell *matCellDef="let element;">{{element.Criteria}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Weightage">
                                        <th mat-header-cell *matHeaderCellDef>Weightage</th>
                                        <td mat-cell *matCellDef="let element;">{{element.Weightage}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Consider">
                                        <th mat-header-cell *matHeaderCellDef>Consider</th>
                                        <td mat-cell *matCellDef="let element;">{{element.Consider}}</td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="RatingDetailsDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: RatingDetailsDisplayedColumns;"></tr>
                                </table>
                        </div>
                    </mat-card>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>5Q Rating</span>
                    </ng-template>
                    <mat-card>
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-24">
                                <label class="tab-title">Criterias</label>
                            </div>
                            <table mat-table [dataSource]="EvaluationDetailsDataSource" matSort class="py-10">
                                <ng-container matColumnDef="Description">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Description </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Text}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="EvaluationDetailsDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: EvaluationDetailsDisplayedColumns;"></tr>
                            </table>
                        </div>
                    </mat-card>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Item</span>
                        <div *ngIf="!IsItemComplete()" class="square" [ngStyle]="{'background-color':selectedIndex==3?'#ffffff':'#18a421'}">
                        </div>
                    </ng-template>
                    <mat-card>
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-24">
                                <label class="tab-title">Items</label>
                            </div>
                            <table mat-table [dataSource]="ItemDetailsDataSource" matSort class="py-10">
                                <ng-container matColumnDef="Material">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Material </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Material}} </td>
                                </ng-container>

                                <ng-container matColumnDef="MaterialText">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Material text</th>
                                    <td mat-cell *matCellDef="let element"> {{element.MaterialText}} </td>
                                </ng-container>

                                <ng-container matColumnDef="TotalQty">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Total qty </th>
                                    <td mat-cell *matCellDef="let element" class="qty"> {{element.TotalQty}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="PerScheduleQty">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Per schedule qty </th>
                                    <td mat-cell *matCellDef="let element" class="qty"> {{element.PerScheduleQty}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="TotalSchedules">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef> No. of schedules </th>
                                    <td mat-cell *matCellDef="let element" class="qty"> {{element.TotalSchedules}}</td>
                                </ng-container>

                                <ng-container matColumnDef="UOM">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef> UOM </th>
                                    <td mat-cell *matCellDef="let element"> {{element.UOM}}</td>
                                </ng-container>

                                <ng-container matColumnDef="IncoTerm">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Incoterm </th>
                                    <td mat-cell *matCellDef="let element"> {{element.IncoTerm}}</td>
                                </ng-container>

                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action
                                    </th>
                                    <td mat-cell *matCellDef="let element;index as i;" style="text-align: center;">
                                        <button mat-icon-button *ngIf="!RespondedI[i].isResponded" (click)="OpenResItemDialog(i,element)">
                                            <mat-icon style="color: #5f2cff;">launch</mat-icon>
                                        </button>
                                        <button mat-icon-button *ngIf="RespondedI[i].isResponded" (click)="OpenResItemDialog(i,element)">
                                            <mat-icon style="color: #5f2cff;">edit</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="ItemsDetailsDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: ItemsDetailsDisplayedColumns;"></tr>
                            </table>
                        </div>
                    </mat-card>
                </mat-tab>
                
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span>Others</span>
                        <div *ngIf="!IsODComplete()" class="square" [ngStyle]="{'background-color':selectedIndex==4?'#ffffff':'#18a421'}"></div>
                    </ng-template>
                    <mat-card>
                        <div fxLayout="column">
                            <div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-24">
                                    <label class="tab-title">Questions</label>
                                </div>
                                <table mat-table [dataSource]="ODDetailsDataSource" matSort class="py-10">
                                    <ng-container matColumnDef="Question">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Question </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Qusetion}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="AnswerType">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Answer type </th>
                                        <td mat-cell *matCellDef="let element"> {{GetAnswerType(element.AnswerType)}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Action
                                        </th>
                                        <td mat-cell *matCellDef="let element;index as i;" style="text-align: right;">
                                            <button mat-icon-button *ngIf="!RespondedOD[i].isResponded" (click)="OpenResAnsDialog(element,i)">
                                                <mat-icon style="color: #5f2cff;">launch</mat-icon>
                                            </button>
                                            <button mat-icon-button *ngIf="RespondedOD[i].isResponded" (click)="OpenResAnsDialog(element,i)">
                                                <mat-icon style="color: #5f2cff;">edit</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="ODDetailsDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ODDetailsDisplayedColumns;"></tr>
                                </table>
                            </div>
                            <div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="py-24">
                                    <label class="tab-title">Documents</label>
                                </div>
                                <table mat-table [dataSource]="ODAttachDetailsDataSource" matSort class="py-10">
                                    <ng-container matColumnDef="DocumentTitle">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Document title </th>
                                        <td mat-cell *matCellDef="let element"> {{element.DocumentTitle}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="DocumentName">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Document </th>
                                        <td mat-cell *matCellDef="let element"> {{element.DocumentName}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: right;"> View/Download</th>
                                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                                            <button mat-icon-button (click)="DownloadRFxAttachment(RFxID,element.DocumentName)">
                                                <mat-icon style="color: #5f2cff;">save_alt</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="ODAttachDetailsDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ODAttachDetailsDisplayedColumns;"></tr>
                                </table>
                            </div>
                            <div fxLayout="column" class="my-24" fxLayoutGap="1rem">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <label class="tab-title">Remarks</label>
                                </div>
                                <mat-form-field style="font-size: 14px;" appearance="outline">
                                    <textarea matInput fxFlex
                                        [(ngModel)]="RFxRemark.Remark" [disabled]="Rfxheader.Status!='1'"></textarea>
                                </mat-form-field>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <label class="tab-title">Response remarks</label>
                                </div>
                                <mat-form-field style="font-size: 14px;" appearance="outline">
                                    <textarea matInput fxFlex
                                        [(ngModel)]="ResH.ResRemarks"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="footer" fxLayout="column" fxLayoutAlign="center">
            <div fxLayout="row" fxLayoutAlign="start center" class="px-8" *ngIf="!(IsItemComplete() && IsODComplete())">
                <button *ngIf="selectedIndex!=0" (click)="PreviousClicked(selectedIndex)" mat-button
                    class="prevnxtbtn">Previous</button>
                    <div fxFlex></div>
                <button *ngIf="selectedIndex!=4" (click)="NextClicked(selectedIndex)" mat-button
                    class="prevnxtbtn">Next</button>
            </div>
            <div *ngIf="IsItemComplete() && IsODComplete()" fxLayout="row" fxLayoutAlign="space-between center"
                fxFlex class="px-8">
                <button mat-button class="savebtn" (click)="SaveResClicked(false)">Save</button>
                <button mat-button class="releasebtn" (click)="SaveResClicked(true)">Release</button>
            </div>
        </div>
    </div>
    <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile"></div>
</div>