<div fxFlex fxLayout="column">
    <!-- <mat-toolbar class="cl_toolbar2" fxLayout="row">
        <div fxLayout="column" fxFlex=20>
            <label class="Create-RFQ">Create RFQ</label>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
                <label class="Dashboard">Dashboard</label>
                <div class="Ellipse-35"></div>
                <label class="Create-RFQ1">Create RFQ</label>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="4px" fxFlex=80>
            <img src="/assets/images/foreclose1.png" class="cl_fore">
            <label class="cl_foreclose">Foreclose</label>
            <img src="/assets/images/delete.png" class="cl_del">
            <label class="cl_delete">Delete</label>
            <img src="/assets/images/cancel.png" class="cl_can">
            <label class="cl_cancel">Cancel</label>
        </div>
    </mat-toolbar> -->
    <mat-toolbar class="cl_toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>{{Rfxheader.Title}}</h1>
        <div>
            <img src="/assets/images/exalca_100.png">
        </div>
    </mat-toolbar>
    <mat-tab-group class="tab-group" style="padding: 2rem 1rem 4rem 1rem; overflow-y: scroll;" [selectedIndex]="selectedIndex"
        (selectedTabChange)="tabClick($event)" fxFlex>
        <!-- First Tab -->
        <mat-tab>
            <ng-template mat-tab-label>
                <p>General Data</p>
            </ng-template>
            <form autocomplete="off" [formGroup]="RFxFormGroup">
                <div>
                    <mat-card class="cl_card">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <label class="cl_header1">General Data</label>
                            <!-- <div class="cl_divider_header" fxFlex=95.5></div> -->
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 2.5rem 2rem 0 2rem;">
                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>RFQ type</mat-label>
                                <mat-select formControlName="RfqType" fxFlex disableOptionCentering
                                    panelClass="myPanelClass">
                                    <mat-option *ngFor="let type of RFxTypeMasters" [value]="type.RFQType">{{type.Text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>RFQ group</mat-label>
                                <mat-select formControlName="RfqGroup" fxFlex disableOptionCentering
                                    panelClass="myPanelClass">
                                    <mat-option *ngFor="let group of RFxGroupMasters" [value]="group.RFQGroup">
                                        {{group.Text}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex=34.125 style="font-size: 14px;" appearance="outline">
                                <mat-label>RFQ title</mat-label>
                                <input matInput type="text" formControlName="RfqTitle" fxFlex>
                            </mat-form-field>
                            <mat-form-field fxFlex=11.375 style="font-size: 14px;" appearance="outline">
                                <mat-label>Currency</mat-label>
                                <mat-select formControlName="Currency" fxFlex disableOptionCentering
                                    panelClass="myPanelClass">
                                    <mat-option *ngFor="let currency of CurrencyList" [value]="currency">{{currency}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 2rem 2rem 0 2rem;">
                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Validity start date</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="ValidityStartDate" fxFlex>
                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                    <img src="assets/images/calendar.png" matDatePickerToggleIcon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Validity start time</mat-label>
                                <input matInput [ngxTimepicker]="picker9" formControlName="ValidityStartTime" fxFlex>
                                <ngx-material-timepicker #picker9></ngx-material-timepicker>
                            </mat-form-field>

                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Validity end date</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="ValidityEndDate" fxFlex>
                                <mat-datepicker-toggle matSuffix [for]="picker2">
                                    <img src="assets/images/calendar.png" matDatePickerToggleIcon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Validity end time</mat-label>
                                <input matInput [ngxTimepicker]="picker10" formControlName="ValidityEndTime" fxFlex>
                                <ngx-material-timepicker #picker10></ngx-material-timepicker>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 2rem 2rem 0px;">
                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Response start date</mat-label>
                                <input matInput [matDatepicker]="picker3" formControlName="ResponseStartDate" fxFlex>
                                <mat-datepicker-toggle matSuffix [for]="picker3">
                                    <img src="assets/images/calendar.png" matDatePickerToggleIcon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Response start time</mat-label>
                                <input matInput [ngxTimepicker]="picker6" formControlName="ResponseStartTime" fxFlex>
                                <ngx-material-timepicker #picker6></ngx-material-timepicker>
                            </mat-form-field>

                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Response end date</mat-label>
                                <input matInput [matDatepicker]="picker4" formControlName="ResponseEndDate" fxFlex>
                                <mat-datepicker-toggle matSuffix [for]="picker4">
                                    <img src="assets/images/calendar.png" matDatePickerToggleIcon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Response end time</mat-label>
                                <input matInput [ngxTimepicker]="picker7" formControlName="ResponseEndTime" fxFlex>
                                <ngx-material-timepicker #picker7></ngx-material-timepicker>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3%" style="padding: 2rem;">
                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Evaluation end date</mat-label>
                                <input matInput [matDatepicker]="picker5" formControlName="EvaluationEndDate" fxFlex>
                                <mat-datepicker-toggle matSuffix [for]="picker5">
                                    <img src="assets/images/calendar.png" matDatePickerToggleIcon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker5></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Evaluation end time</mat-label>
                                <input matInput [ngxTimepicker]="picker8" formControlName="EvaluationEndTime" fxFlex>
                                <ngx-material-timepicker #picker8></ngx-material-timepicker>
                            </mat-form-field>

                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Minimum no. of evaluators</mat-label>
                                <input matInput formControlName="Evaluator" fxFlex type="number">
                            </mat-form-field>
                            <mat-form-field fxFlex=22.75 style="font-size: 14px;" appearance="outline">
                                <mat-label>Site</mat-label>
                                <input matInput formControlName="Site" fxFlex>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>

            </form>
        </mat-tab>
        <!-- Second Tab -->
        <mat-tab>
            <ng-template mat-tab-label>
                <p>Evaluation Criteria</p>
            </ng-template>
            <div>
                <mat-card class="cl_card">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <label class="cl_header1">Criterias</label>
                    </div>

                    <table mat-table [dataSource]="EvaluationDetailsDataSource" class="mat-elevation-z8" matSort>
                        <ng-container matColumnDef="Description">
                            <th mat-header-cell class="table-th" *matHeaderCellDef>
                                Description </th>
                            <td mat-cell class="table-td" *matCellDef="let element">
                                {{element.Text}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="EvaluationDetailsDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: EvaluationDetailsDisplayedColumns;"></tr>
                    </table>
                </mat-card>
            </div>

        </mat-tab>
        <!-- Third Tab -->
        <mat-tab>
            <ng-template mat-tab-label>
                <p>Others</p>
                <!-- <mat-icon *ngIf="ODDetails.length!=0 && ODAttachDetails.length!=0" style="margin-left: 1rem;"
                    [ngStyle]="{'color':index==3?'white':'#18a421'}">check_circle</mat-icon> -->
            </ng-template>
            <div>
                <mat-card class="cl_card1">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <label class="cl_header1">Question</label>
                        <div class="cl_divider_header" fxFlex=87></div>
                        <!-- <button mat-button class="cl_button1" (click)="CreateQuestion()" *ngIf="Rfxheader.Status=='1'">
                            <img src="assets/images/ic_add.png">
                            <span class="add"> Add</span>
                        </button> -->
                    </div>

                    <table mat-table [dataSource]="ODDetailsDataSource" class="mat-elevation-z8" matSort>

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef style=" font-size: 13px;
                                      font-weight: 500;
                                      font-stretch: normal;
                                      font-style: normal;
                                      line-height: 1.5;
                                      letter-spacing: normal;
                                      text-align: left;
                                      color: #595d6e;width: 5%;" class="Rectangle-4510"> S.No </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;"
                                *matCellDef="let element;let i = index;">
                                {{i+1}} </td>
                        </ng-container>

                        <!-- Question Column -->
                        <ng-container matColumnDef="Question">
                            <th mat-header-cell mat-sort-header style=" font-size: 13px;
                                      font-weight: 500;
                                      font-stretch: normal;
                                      font-style: normal;
                                      line-height: 1.5;
                                      letter-spacing: normal;
                                      text-align: left;
                                      color: #595d6e;width: 641px;" class="Rectangle-4510" *matHeaderCellDef> Question
                            </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;" *matCellDef="let element">
                                {{element.Qusetion}} </td>
                        </ng-container>

                        <!-- Answer type Column -->
                        <ng-container matColumnDef="Answertype">
                            <th mat-header-cell mat-sort-header style=" font-size: 13px;
                                      font-weight: 500;
                                      font-stretch: normal;
                                      font-style: normal;
                                      line-height: 1.5;
                                      letter-spacing: normal;
                                      text-align: left;
                                      color: #595d6e;width: 35%;" class="Rectangle-4510" *matHeaderCellDef> Answer Type
                            </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;" *matCellDef="let element">
                                {{GetAnswerType(element.AnswerType)}} </td>
                        </ng-container>


                        <ng-container matColumnDef="Action">
                            <th mat-header-cell style=" font-size: 13px;
                                      font-weight: 500;
                                      font-stretch: normal;
                                      font-style: normal;
                                      line-height: 1.5;
                                      letter-spacing: normal;
                                      text-align: center;
                                      color: #595d6e;width:4%;" class="Rectangle-4510" *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element;index as i;">
                                <button *ngIf="!RespondedOD[i].isResponded" class="cl_button4" mat-button
                                    (click)="OpenResAnsDialog(element,i)">Answer</button>
                                <img *ngIf="RespondedOD[i].isResponded" src="assets/images/edit_blue.png"
                                    (click)="OpenResAnsDialog(element,i)" class="clickable ">
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="ODDetailsDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: ODDetailsDisplayedColumns;"></tr>
                    </table>
                </mat-card>

                <mat-card class="cl_card2">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <label class="cl_header1">Attachement</label>
                        <div class="cl_divider_header" fxFlex=85></div>
                        <!-- <button mat-button class="cl_button1" (click)="CreateDocument()">
                            <img src="assets/images/ic_add.png">
                            <span class="add"> Add</span>
                        </button> -->
                    </div>

                    <table mat-table [dataSource]="ODAttachDetailsDataSource" class="mat-elevation-z8" matSort>

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef style=" font-size: 13px;
                                      font-weight: 500;
                                      font-stretch: normal;
                                      font-style: normal;
                                      line-height: 1.5;
                                      letter-spacing: normal;
                                      text-align: left;
                                      color: #595d6e;width: 50px;" class="Rectangle-4510"> S.No </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;"
                                *matCellDef="let element;let i = index;">
                                {{i+1}} </td>
                        </ng-container>

                        <!-- Document title Column -->
                        <ng-container matColumnDef="Documenttitle">
                            <th mat-header-cell mat-sort-header style=" font-size: 13px;
                                      font-weight: 500;
                                      font-stretch: normal;
                                      font-style: normal;
                                      line-height: 1.5;
                                      letter-spacing: normal;
                                      text-align: left;
                                      color: #595d6e;width: 21%;" class="Rectangle-4510" *matHeaderCellDef> Document
                                title </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;" *matCellDef="let element">
                                {{element.DocumentTitle}} </td>
                        </ng-container>

                        <!-- Remark Column -->
                        <ng-container matColumnDef="Remark">
                            <th mat-header-cell style=" font-size: 13px;
                                      font-weight: 500;
                                      font-stretch: normal;
                                      font-style: normal;
                                      line-height: 1.5;
                                      letter-spacing: normal;
                                      text-align: center;
                                      color: #595d6e;width: 67%;" class="Rectangle-4510" *matHeaderCellDef> Document
                            </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;text-align: center;"
                                *matCellDef="let element">
                                {{element.DocumentName}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="ODAttachDetailsDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: ODAttachDetailsDisplayedColumns;"></tr>
                    </table>
                </mat-card>

                <mat-card class="cl_card3" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <label class="cl_header1">Remarks</label>
                        <div class="cl_divider_header" fxFlex=94.5></div>
                    </div>
                    <textarea matInput fxFlex style="margin: 1rem;
                    border: 1px solid #48465b4a;" [(ngModel)]="RFxRemark.Remark" disabled></textarea>
                </mat-card>
            </div>
        </mat-tab>
        <!-- Fourth Tab -->
        <mat-tab>
            <ng-template mat-tab-label>
                <p>Item</p>
                <!-- <mat-icon *ngIf="ItemDetails.length!=0" style="margin-left: 1rem;"
                    [ngStyle]="{'color':index==2?'white':'#18a421'}">check_circle</mat-icon> -->
            </ng-template>
            <div>
                <mat-card class="cl_card">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <label class="cl_header1">Item</label>
                        <div class="cl_divider_header" fxFlex=89></div>
                        <!-- <button mat-button class="cl_button1" (click)="CreateItem()" *ngIf="Rfxheader.Status=='1'">
                            <img src="assets/images/ic_add.png">
                            <span class="add"> Add</span>
                        </button> -->
                    </div>

                    <table mat-table [dataSource]="ItemDetailsDataSource" class="mat-elevation-z8" matSort>

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef style=" font-size: 13px;
                                  font-weight: 500;
                                  font-stretch: normal;
                                  font-style: normal;
                                  line-height: 1.5;
                                  letter-spacing: normal;
                                  text-align: left;
                                  color: #595d6e;" class="Rectangle-4510"> S.No </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;"
                                *matCellDef="let element;let i = index;"> {{i+1}}</td>
                        </ng-container>

                        <!-- Item Column -->
                        <ng-container matColumnDef="Item">
                            <th mat-header-cell mat-sort-header style=" font-size: 13px;
                                  font-weight: 500;
                                  font-stretch: normal;
                                  font-style: normal;
                                  line-height: 1.5;
                                  letter-spacing: normal;
                                  text-align: left;
                                  color: #595d6e;" class="Rectangle-4510" *matHeaderCellDef> Item </th>
                            <td mat-cell style="color: #1f009e;font-size: 12px;text-decoration: underline;"
                                *matCellDef="let element"> {{element.Item}} </td>
                        </ng-container>

                        <!-- Material Column -->
                        <ng-container matColumnDef="Material">
                            <th mat-header-cell mat-sort-header style=" font-size: 13px;
                                  font-weight: 500;
                                  font-stretch: normal;
                                  font-style: normal;
                                  line-height: 1.5;
                                  letter-spacing: normal;
                                  text-align: left;
                                  color: #595d6e;" class="Rectangle-4510" *matHeaderCellDef> Material </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;" *matCellDef="let element">
                                {{element.Material}} </td>
                        </ng-container>

                        <!-- TotalQty Column -->
                        <ng-container matColumnDef="TotalQty">
                            <th mat-header-cell mat-sort-header style=" font-size: 13px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.5;
                                    letter-spacing: normal;
                                    text-align: left;
                                    color: #595d6e;" class="Rectangle-4510" *matHeaderCellDef> Total qty </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;text-align: -webkit-center"
                                *matCellDef="let element">
                                {{element.TotalQty}} </td>
                        </ng-container>

                        <!-- PerScheduleQty Column -->
                        <ng-container matColumnDef="PerScheduleQty">
                            <th mat-header-cell mat-sort-header style=" font-size: 13px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.5;
                                    letter-spacing: normal;
                                    text-align: left;
                                    color: #595d6e;" class="Rectangle-4510" *matHeaderCellDef> Per schedule qty </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;text-align: -webkit-center"
                                *matCellDef="let element">
                                {{element.PerScheduleQty}} </td>
                        </ng-container>

                        <!-- Noofschedules Column -->
                        <ng-container matColumnDef="Noofschedules">
                            <th mat-header-cell mat-sort-header style=" font-size: 13px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.5;
                                    letter-spacing: normal;
                                    text-align: left;
                                    color: #595d6e;" class="Rectangle-4510" *matHeaderCellDef> No. of schedules </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;" *matCellDef="let element">
                                {{element.TotalSchedules}} </td>
                        </ng-container>

                        <!--Uom Column -->
                        <ng-container matColumnDef="Uom">
                            <th mat-header-cell mat-sort-header style=" font-size: 13px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.5;
                                    letter-spacing: normal;
                                    text-align: left;
                                    color: #595d6e;" class="Rectangle-4510" *matHeaderCellDef> UOM </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;" *matCellDef="let element">
                                {{element.UOM}} </td>
                        </ng-container>

                        <!-- Incoterm Column -->
                        <ng-container matColumnDef="Incoterm">
                            <th mat-header-cell mat-sort-header style=" font-size: 13px;
                                    font-weight: 500;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.5;
                                    letter-spacing: normal;
                                    text-align: left;
                                    color: #595d6e;" class="Rectangle-4510" *matHeaderCellDef> Incoterm </th>
                            <td mat-cell style="color: #48465b;font-size: 12px;" *matCellDef="let element">
                                {{element.IncoTerm}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Action">
                            <th mat-header-cell style=" font-size: 13px;
                                      font-weight: 500;
                                      font-stretch: normal;
                                      font-style: normal;
                                      line-height: 1.5;
                                      letter-spacing: normal;
                                      text-align: center;
                                      color: #595d6e;width:4%;" class="Rectangle-4510" *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element;index as i;">
                                <button *ngIf="!RespondedI[i].isResponded" class="cl_button4" mat-button
                                    (click)="OpenResItemDialog(i,element)">Respond</button>
                                <img *ngIf="RespondedI[i].isResponded" src="assets/images/edit_blue.png"
                                    (click)="OpenResItemDialog(i,element)" class="clickable">
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="ItemsDetailsDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: ItemsDetailsDisplayedColumns;"></tr>
                    </table>
                </mat-card>
            </div>

        </mat-tab>
    </mat-tab-group>
    <footer class="footer">
        <mat-toolbar style="background-color: white;height: 56px;">
            <button (click)="PreviousClicked(index)" mat-button class="cl_button3" *ngIf="index!=0  && !IsComplete">
                <img src="assets/images/back_arrow.png"> Previous</button>
            <div style="flex:1 auto"></div>
            <button *ngIf="index!=3 && !IsComplete" (click)="NextClicked(index)" mat-button class="cl_button2">
                Next
                <img src="assets/images/next_arrow.png"></button>
            <div *ngIf="IsComplete" fxLayout="row" fxLayoutAlign="end center"
                fxLayoutGap="1rem">
                <button mat-button class="cl_button2" (click)="SaveResClicked(true)">Release</button>
                <button mat-button class="cl_button4" (click)="SaveResClicked(false)">Save</button>
            </div>

        </mat-toolbar>
    </footer>
    <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile"></div>
</div>