<div>
    <mat-toolbar class="toolbar1">
        <p class="add_criteria">Add Question</p>
        <img (click)="dialogRef.close()" style="cursor: pointer;" src="assets/images/cancel1.png" >
    </mat-toolbar>
</div>
<mat-dialog-content [formGroup]="DialogueFormGroup">
    <div style="padding: 2rem;">
        <div fxLayout="column" fxFlex="100">

            <mat-form-field fxFlex=100 style="font-size: 14px;" appearance="outline">
                <mat-label>Question</mat-label>
                <input matInput maxlength="40" size="40" formControlName="Question" fxFlex>
                <mat-error
                    *ngIf="DialogueFormGroup.get('Question').touched && DialogueFormGroup.get('Question').hasError('required')">
                    Question is required
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex=100 style="font-size: 14px;" appearance="outline">
                <mat-label>Answer type</mat-label>
                <mat-select formControlName="AnswerType" fxFlex>
                    <mat-option value="1">Text box</mat-option>
                    <mat-option value="2">Yes/No</mat-option>
                    <mat-option value="3">Long text</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="DialogueFormGroup.get('AnswerType').touched && DialogueFormGroup.get('AnswerType').hasError('required')">
                    Answer Type is required
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field fxFlex=100 style="font-size: 14px;" appearance="outline" *ngIf="DialogueFormGroup.get('AnswerType').value">
                <mat-label>Answer</mat-label>
                <mat-select formControlName="Answer" fxFlex *ngIf="DialogueFormGroup.get('AnswerType').value==2">
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                </mat-select>
                <input matInput formControlName="Answer" fxFlex *ngIf="DialogueFormGroup.get('AnswerType').value==1">
                <textarea matInput formControlName="Answer" fxFlex *ngIf="DialogueFormGroup.get('AnswerType').value==3"></textarea>
                <mat-error
                    *ngIf="DialogueFormGroup.get('Answer').touched && DialogueFormGroup.get('Answer').hasError('required')">
                    Answer is required
                </mat-error>
            </mat-form-field> -->
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center">
    <button mat-button class="cl_button1" (click)="Save()"><span class="add">{{data.isCreate?'Add':'Save'}}</span>
    </button>
</mat-dialog-actions>