.cl_toolbar{
    width: 100%;
    height: 55px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff !important;
  }
  
   
    .cl_card{
    //   border-top: 4px solid #29abe2;
      margin-top: 1.5rem;
      padding-top: 10px;
    }
    .cl_header1{
      font-size: 14px;
      font-weight: 500;
      color:#333333;
  }
  .cl_new{
    width: 85px;
    height: 29px;
    border-radius: 2px;
    background-color: #068dd0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cl_more{
    font-size: 11px;
    font-weight: 500;
    color: #595d6e;
  }
  .cl_action{
    width: 77px;
    height: 29px;
    border-radius: 2px;
    background-color: #d9eef8;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    align-items: center;
    justify-content: center;
    color:#1694d2;
    border: none;
  }
  .cl_img{
    width: 9px;
    height: 7px;
    object-fit: scale-down;
    margin-left: 7px;
  }
  .mat-elevation-z8 {
    box-shadow: none;
  }
  table {
    width: 103%;
    margin-top: 10px;
    margin-left: -16px;
    margin-right: 0px;
    }
    .header-cell{
      font-size: 14px;
      font-weight: 500;
      color: #595d6e;
      background-color:#ecf8fa;
    }
    .td-cell{
      color: #48465b;
      font-size: 12px;
    }
    .header-center-align{
      justify-content: center;
    }
    td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
      padding-right: 0 !important;
  }
  .cl_button1.mat-button {
    color: white !important;
    background: #068dd0 !important;
  }
  .cl_button1{
  
      background-color: #068dd0;
  
      display: flex;
      justify-content: center;
      align-items: center;
      /* margin-left: 161px;
      margin-top: 42px; */
    }
    ::ng-deep .Action-select .mat-select-placeholder {
      font-size: 12px;
      font-weight: 500;
      color: #068dd0 !important;
      }
      ::ng-deep .Action-select .mat-select-arrow {
        color:#068dd0 !important;
      }
      /* .hor-timeline {
        height: 8px;
        margin-top: 5px;
       
      } */
   /*fulfilment status*/
  
   .green-timeline {
    background-color: #34ad65;
    height: 5px;
    margin-left: -1px;
    }
    .orange-timeline {
      background-color: #efb577;
      height: 5px;
      margin-left: -1px;
      }
    .timelineItem {
      text-align: left;
      font-size: 10px;
    }
    .mat_lable_1{
      /* background-color: #e2f3e3; */
    width: 53px;
    text-align: center;
    border-radius: 8px;
    }
    .mat_lable_2{
      /* background-color: #e2f3e3; */
    width: 35px;
    text-align: center;
    border-radius: 8px;
    }
    .white-timeline {
      background-color: white;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      height: 5px;
    }
    .round {
      height: 16px;
      width: 16px;
      border-radius: 20px;
      border-width: 3px;
      border-style: solid;
      background-color: white;
      border-color: gray;
    }