<div class="dialog-content-wrapper">
    <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
        <p class="title">Confirmation</p>
        <img (click)="dialogRef.close()" src="assets/images/cancel1.png" style="cursor: pointer;">
    </mat-toolbar>

    <mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <p> Are you sure you want to {{dialogData.Actiontype}} the {{dialogData.Catagory}} ?</p>
    </mat-dialog-content>
    <mat-dialog-actions class="m-0 p-16 footer" fxLayoutAlign="end center" fxLayoutGap="1rem">
        <button mat-button type="button" (click)="CloseClicked()">Cancel</button>
        <button mat-button type="button" class="savebtn" (click)="YesClicked()">Yes</button>
    </mat-dialog-actions>
</div>
