@import "src/@fuse/scss/fuse";
#rfq-evaluation{
    background-color: #ffffff;
    .poppins{
        font-family: Poppins;
        font-weight: 600;
    }
    .title{
        @extend .poppins;
        color: #5f2cff;
        font-size: 18px;
    }
    .container{
        width: 100%;
        background-color: white;
        border-radius: 4px;
        padding-right: 0 !important; 
    }
    .footer{
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0;
        z-index: 199;
        background-color: #f4f4fb;
    }
    .prevnxtbtn{
        @extend .poppins;
        color: #00061c;
        font-size: 12px;
    }
    .progressbar{
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        height: 6px;
    }
    table {
        width: 100%;
    
        th {
          color: white;
          background-color: #5f2cff;
        //   box-shadow: 0 3px 6px 0 rgba(95, 44, 255, 0.12);
          @extend .poppins;
        }
    
        td {
          @extend .poppins;
          font-size: 11px;
          color: #3e485a;
          min-width: max-content !important;
        }

        td.mat-cell{
            border-bottom-color: transparent;
        }
    
        tr {
          height: 42px;
        //   background-color: #e8e8ff;
        }
        th.mat-header-cell:first-child {
            border-top-left-radius: 4px !important;
            border-bottom-left-radius: 4px !important;
        }

        th.mat-header-cell:last-child {
            border-top-right-radius: 4px !important;
            border-bottom-right-radius: 4px !important;
        }
    }
    .qty{
        text-align: right;
    }.center{
        text-align: center;
    }
    .mat-form-field {
        font-family: Poppins;
        font-weight: 500;
        font-size: 13px !important;
    }
    .mat-select{
        font-family: Poppins;
        font-weight: 500;
    }
    .clickable{
        cursor: pointer;
    }
    .tab-title{
        @extend .poppins;
        font-size: 14px;
        color: #5f2cff;
    }
    .createbtn{
        border-radius: 4px;
        @extend .poppins;
        font-size: 12px;
        font-weight: 500;
        background-color: #5f2cff;
        color: white;
    }
    .savebtn{
        background-color: #e3e3e5;
        @extend .poppins;
        color: #00061c;
        font-size: 12px;
    }
    .releasebtn{
        background-color: #5f2cff;
        @extend .poppins;
        color: #ffffff;
        font-size: 12px;
    }
    .square{
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color:rgb(24, 164, 33);
        margin-left: 8px;
    }
    .tbcount{
        @extend .poppins;
        font-size: 12px;
        color: white;
    }
    .card{
        box-shadow: none !important;
        padding: 10px 0px 10px 24px !important;
        max-height: 80vh;
        overflow-y: scroll;
    }
    .datetime{
        @extend .poppins;
        color: #5f2cff;
        font-size: 12px;
    }
    .saveAsDraft{
        font-size: 10px;
        @extend .poppins;
        color:#00bb58 ;
        margin-left: 10px;
    }
}
::ng-deep .rfx-form-field .mat-form-field-flex {
    height: 44px !important;
}
::ng-deep .tab-group .mat-tab-header{
    background-color: #f4f4fb !important;
    border-radius: 4px;
    padding: 8px;
}
::ng-deep .mat-ink-bar{
    visibility: hidden !important;
}
::ng-deep .mat-tab-label{
    padding: 0 16px !important;
    opacity: 1 !important;
    font-family: Poppins;
    font-weight: 600;
    font-size: 12px;
    color: #00061c !important;
    border-radius: 4px;
    min-width: 220px !important;
}
::ng-deep .mat-tab-label-content {
    // justify-content: space-between !important;
    width: 100%;
}
::ng-deep .mat-tab-header-pagination-chevron{
    border-color: #0c0c0c66 !important;
}
::ng-deep .mat-tab-labels {
    justify-content: center;
    gap: 1rem;
}
::ng-deep .tab-group .mat-tab-label-active{
    background-color: #5f2cff ;
    opacity: 1 !important;
    color: #ffffff !important;
}

 //Vertical MatTab
 :host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  :host ::ng-deep .mat-tab-labels {
    flex-direction: column;
  }
  
  mat-tab-group {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }
  
  :host ::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  mat-tab-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  :host ::ng-deep mat-ink-bar {
    display: none;
  }