<div class="dialog-content-wrapper">
  <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
      <p class="title">Attachments</p>
      <img (click)="matDialogRef.close()" src="assets/images/cancel1.png" style="cursor: pointer;">
  </mat-toolbar>

  <mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <div fxLayout fxLayoutAlign="start">
      <div fxFlex *ngIf="ofAttachments?.length === 0" class="no-results-message">
        <span class="pl-12 pt-4"> No attachments..</span>
      </div>
      <div *ngIf="ofAttachments?.length">
        <ul *ngFor="let attachment of ofAttachments">
          <li style="cursor: pointer; color: #1e8bed;" (click)="attachmentClicked(attachment)">
            {{attachment}}</li>
        </ul>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="m-0 p-16 footer" fxLayoutAlign="end center">
    <button mat-button type="button" (click)="matDialogRef.close()" class="savebtn">Close</button>
  </mat-dialog-actions>
  <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
  </mat-progress-spinner>
  <div id="overlay" *ngIf="isProgressBarVisibile"></div>
</div>
