<div id="criteria-master" class="page-layout carded fullwidth">
  <div class="center">
    <div fxLayout class="content-card1">
      <div fxFlex="23" class="side-bar" style="background-color: #f5f5f5">
        <div class="sidenav-header">
          <mat-toolbar>
            <mat-toolbar-row fxLayout="row" class="px-8" fxLayoutAlign="space-between center">
              <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                  <mat-icon class="s-16">search</mat-icon>
                </div>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
        <div class="sidenav-content" fusePerfectScrollbar fxFlex>
          <div *ngFor="let group  of AllQuestionTemplates  | filter: searchText">
            <div>
              <div class="mx-8 mb-8 mt-0 p-8 leftCard" (click)="loadSelected(group)"
                [style.border-left-color]="selectID ==group.Group?'#5f2cff':'#cccccc'">
                <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                  <div fxFlex><strong>{{group.Description}}</strong></div>
                  <div fxFlex align="end">{{group .CreatedOn | date :'dd/MM/yyyy'}}</div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="(AllQuestionTemplates  | filter: searchText)?.length === 0" class="no-results-message">
            <span class="pl-12"> No results..</span>
          </div>
        </div>
        <div class="borderRight1"></div>
      </div>
      <mat-card fxFlex="77" class="side-bar p-0">
        <div class="sidenav-content" fxFlex fxLayout="column">
          <div fxFlex fxLayout="column" class="p-0 pt-16">
            <div fxFlex fxLayout="column" class="px-12 mt-4">
              <form autocomplete="off" class="normal" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start"
                name="form" novalidate [formGroup]="TemplateFormGroup">

                <div fxLayout="row">
                  <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                    <input matInput placeholder="Group Name" formControlName="Description">
                    <mat-error
                      *ngIf="TemplateFormGroup.get('Description').touched && TemplateFormGroup.get('Description').hasError('required')">
                      Group Name required</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column" class="pb-8">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-12">
                    <label class="tab-title"></label>
                    <button type="button" mat-button color="primary" class="createbtn"
                      (click)="AddClicked()">Add</button>
                  </div>
                  <table mat-table [dataSource]="QuestionDetailsDataSource" formArrayName="Questions" matSort
                    class="py-10">
                    <ng-container matColumnDef="Question">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef> Question </th>
                      <td mat-cell *matCellDef="let element;index as i;" [formGroupName]="i">
                        <mat-form-field style="width: 90%;">
                          <input matInput formControlName="Question">
                        </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="AnswerType">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef> Criteria </th>
                      <td mat-cell *matCellDef="let element;index as i;" [formGroupName]="i">
                        <mat-form-field style="width: 100%;">
                          <mat-select formControlName="AnswerType" fxFlex>
                            <mat-option value="1">Text box</mat-option>
                            <mat-option value="2">Yes/No</mat-option>
                            <mat-option value="3">Long text</mat-option>
                            <mat-option value="4">Number only</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action
                      </th>
                      <td mat-cell *matCellDef="let element;index as i;" style="text-align: center;">
                        <div>
                          <img style="margin-left: 9px;" class="clickable" (click)="DeleteRow(i)"
                            src="assets/images/delete1.png">
                        </div>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="QuestionDetailsDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: QuestionDetailsDisplayedColumns;">
                    </tr>
                  </table>

                </div>

              </form>
              <div fxLayout>
                <div fxFlex fxLayoutAlign="end">
                  <button class="floatBtn" mat-fab style="background-color: #5f2cff" (click)="ResetControl()">
                    <mat-icon style="color: white;">add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-card-actions class="m-0 pl-12 pr-16 cardActions">
          <div fxLayout fxFlex fxLayoutAlign="end">
            <button *ngIf="selectedTemplate.Group" mat-stroked-button class="DeleteBtn mr-4 mb-8"
              (click)="DeleteClicked()">Delete</button>
            <button mat-raised-button class="mr-4 mb-8" (click)="ResetControl()" *ngIf="!selectedTemplate.Group">
              Clear
            </button>
            <button (click)="SaveClicked()" class="SaveBtn" mat-raised-button>
              {{selectedTemplate.Group?'Update':'Create'}}</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile">
    </div>
  </div>
</div>