<div class="dialog-content-wrapper">
  <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
      <p class="title">Response for item</p>
      <img (click)="dialogRef.close()" src="assets/images/cancel1.png" style="cursor: pointer;">
  </mat-toolbar>

  <mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
      <div fxLayout="column">
          <form autocomplete="off" [formGroup]="DialogueFormGroup" fxLayout="column">
              <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="3%">
                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Material</mat-label>
                      <mat-select formControlName="material" fxFlex disableOptionCentering panelClass="myPanelClass">
                          <mat-option *ngFor="let item of MaterialMaster" [value]="item.Material">{{item.Material}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Material Text</mat-label>
                      <input matInput formControlName="material_text" fxFlex autocomplete="off">
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>UOM</mat-label>
                      <input matInput maxlength="3" size="3" formControlName="Uom" fxFlex autocomplete="off">
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Total Qty</mat-label>
                      <input matInput type="number" formControlName="TotalQty" fxFlex autocomplete="off">
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Per Schedule Qty</mat-label>
                      <input matInput formControlName="per_schedule_qty" type="number" fxFlex autocomplete="off">
                  </mat-form-field>


                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Total Schedules</mat-label>
                      <input matInput type="number" formControlName="totalSchedules" fxFlex autocomplete="off">
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Bidding Price Low</mat-label>
                      <input matInput formControlName="LowPrice" type="number" fxFlex autocomplete="off" min="0"
                          oninput="this.value = Math.abs(this.value)">
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Bidding Price High</mat-label>
                      <input matInput formControlName="HighPrice" type="number" fxFlex autocomplete="off" min="0"
                          oninput="this.value = Math.abs(this.value)">
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Interval</mat-label>
                      <input matInput formControlName="Interval" type="number" fxFlex autocomplete="off" min="0"
                          oninput="this.value = Math.abs(this.value)">
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Incoterm</mat-label>
                      <input matInput formControlName="incoterm" max="2" size="2" fxFlex autocomplete="off">
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>First Schedule Start (In days)</mat-label>
                      <input matInput formControlName="LeadTime" type="number" fxFlex autocomplete="off" min="0"
                          oninput="this.value = Math.abs(this.value)">
                  </mat-form-field>
              </div>

              <div fxFlex>
                  <mat-form-field fxFlex appearance="outline">
                      <mat-label>Notes</mat-label>
                      <textarea matInput formControlName="Notes" max="2" size="2" fxFlex
                          autocomplete="off"></textarea>
                  </mat-form-field>
              </div>
          </form>
          <form autocomplete="off" [formGroup]="ResItemFormGroup">
              <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="3%">
                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Price</mat-label>
                      <input matInput formControlName="Price" fxFlex autocomplete="off" type="number">
                      <mat-error
                          *ngIf="ResItemFormGroup.get('Price').touched && ResItemFormGroup.get('Price').hasError('required')">
                          price is required
                      </mat-error>
                      <mat-error
                          *ngIf="ResItemFormGroup.get('Price').touched && ResItemFormGroup.get('Price').hasError('min')">
                          price do not exceed minimum bidding
                      </mat-error>
                      <mat-error
                          *ngIf="ResItemFormGroup.get('Price').touched && ResItemFormGroup.get('Price').hasError('max')">
                          price do not exceed maximum bidding
                      </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>USP Remark</mat-label>
                      <input matInput formControlName="USPRemark" fxFlex autocomplete="off">
                      <mat-error
                          *ngIf="ResItemFormGroup.get('USPRemark').touched && ResItemFormGroup.get('USPRemark').hasError('required')">
                          USP Remark is required
                      </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Price Rating</mat-label>
                      <input matInput maxlength="1" max="5" min="1" formControlName="PriceRating" fxFlex
                          autocomplete="off" type="number">
                      <mat-error
                          *ngIf="ResItemFormGroup.get('PriceRating').touched && ResItemFormGroup.get('PriceRating').hasError('required')">
                          Price Rating is required
                      </mat-error>
                      <mat-error *ngIf="ResItemFormGroup.get('PriceRating').hasError('pattern')">Enter
                          only 1 digits</mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Lead Time Rating</mat-label>
                      <input matInput type="number" formControlName="LeadTimeRating" fxFlex autocomplete="off">
                      <mat-error
                          *ngIf="ResItemFormGroup.get('LeadTimeRating').touched && ResItemFormGroup.get('LeadTimeRating').hasError('required')">
                          Lead Time Rating is required
                      </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex=30 appearance="outline">
                      <mat-label>Lead Time is acceptable</mat-label>
                      <mat-select formControlName="LeadTimeAccept" fxFlex
                          (selectionChange)="ValueSelected($event.value)">
                          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
                      </mat-select>
                      <mat-error
                          *ngIf="ResItemFormGroup.get('LeadTimeAccept').touched && ResItemFormGroup.get('LeadTimeAccept').hasError('required')">
                          Lead time is required
                      </mat-error>
                  </mat-form-field>

                  <mat-form-field *ngIf="ResItemFormGroup.get('LeadTimeAccept').value=='No'" fxFlex=30
                      appearance="outline">
                      <mat-label>Remarks</mat-label>
                      <input matInput formControlName="LeadTimeRemark" fxFlex autocomplete="off">
                      <mat-error
                          *ngIf="ResItemFormGroup.get('LeadTimeRemark').touched && ResItemFormGroup.get('LeadTimeRemark').hasError('required')">
                          Lead Time Remark is required
                      </mat-error>
                  </mat-form-field>
              </div>
          </form>

          <div fxLayout="row">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                  <p class="attachment">RFx Attachment</p>
                  <span matBadgeSize="small" matBadgeColor="accent" matBadgeOverlap="false"
                      [matBadge]="SelectedFileName.length">
                          <img (click)="openAttachmentViewDialog(RFxID,SelectedFileName)" style="width: 20px;cursor: pointer;" src="assets/images/rfq/attachment.svg">
                      </span>
              </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1rem">
              <span class="attachment1">Attachements</span>
              <ngx-dropzone #drop (change)="onSelect($event)" [disableClick]="true" class="dropzone">
                  <ngx-dropzone-label><span class="label">Drop here to upload or <a class="fileselect"
                              (click)="drop.showFileSelector()">choose file</a></span></ngx-dropzone-label>
                  <ngx-dropzone-preview class="preview" *ngFor="let f of ResItemFiles" [removable]="true"
                      (removed)="onRemove(f)">
                      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                  </ngx-dropzone-preview>
              </ngx-dropzone>
          </div>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions class="m-0 p-16 footer" fxLayoutAlign="center center">
      <button mat-button type="button" class="savebtn" (click)="Save()">Save</button>
  </mat-dialog-actions>
</div>