.toolbar1{
  /* width: 449px; */
  height: 46px;
  
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);

  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_criteria{
    /* width: 1px; */ 
    /* height: 23px; */
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #595d6e;
    /* margin-top: 7px;
    margin-left: 146px; */
}
.image{
  width: 14px;
  height: 11px;
  float: right;
  margin-right: 10px;
  margin-top: -10px;
  /* margin-left: 442px;
  margin-top: -9px; */
}
.Item{
  /* width: -11px; */
  /* height: 17px; */
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 29px;
}
.material{
  /* width: -11px; */
  /* height: 17px; */
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 29px;
}
.material_text{
  /* width: -11px; */
  /* height: 17px; */
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 28px;
}
.text_area1{
  width: 80%;
  height: 25px;
  padding: 9px 11px 9px 9px;
  border-radius: 3px;
  border: solid 0.5px #cccccc;
  background-color: #ffffff;
}
.rect{
  width: 80%;
  height: 27px;
border-radius: 3px;
border: solid 0.5px #cccccc;
background-color: #ffffff;
}
.p1{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #48465b;
  /* margin-top: 7px; */
  /* margin-left: 8px; */
}
.Uom{
  /* width: -11px; */
  /* height: 17px; */
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 29px;
}
.TotalQty{
  /* width: -11px; */
  /* height: 17px; */
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 29px;
}
.notes{
  /* width: -11px; */
  /* height: 17px; */
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 13px;
}
.text_area{
  width: 73%;
  height: 32px;
  padding: 9px 11px 9px 9px;
  border-radius: 3px;
  border: solid 0.5px #cccccc;
  background-color: #ffffff;
}
.interval{
  /* width: -11px; */
  /* height: 17px; */
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 29px;
}
.rect1{
  width: 80%;
  height: 27px;
border-radius: 3px;
border: solid 0.5px #cccccc;
background-color: #ffffff;
}
.p2{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #48465b;
  /* margin-top: 7px; */
  /* margin-left: 8px; */
}
.cl_button1.mat-button {
  color: white !important;
  background: #068dd0 !important;
}
.cl_button1{
    width: 85px;
    height: 29px;
    border-radius: 2px;
    background-color: #068dd0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 161px;
    margin-top: 42px; */
  }
.add{
  width: 51px;
  height: -8px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: start;
  color: #ffffff;
  /* position: absolute; */
  /* margin-left: -10px; */
  line-height: 0.2;
}
.rect2{
  width: 71%;
  height: 27px;
  border-radius: 3px;
  border: solid 0.5px #cccccc;
  background-color: #ffffff;
}
.p3{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #48465b;
  /* margin-top: 7px; */
  /* margin-left: 8px; */
}
.bidding{
  /* width: -11px; */
  /* height: 17px; */
  width: 89%;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 29px;
}
.rect3{
  width: 71%;
  height: 27px;
  border-radius: 3px;
  border: solid 0.5px #cccccc;
  background-color: #ffffff;
  /* margin-left: 164px; */
}
.p4{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #48465b;
  /* margin-top: 7px; */
  /* margin-left: 8px; */
}
.high{
  /* width: -11px; */
  /* height: 17px; */
  width: 94%;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  /* margin-top: -97px;
  margin-left: 162px; */
  /* margin-top: -65px;
  margin-left: 162px; */
}
.rating{
  /* width: -11px; */
  /* height: 17px; */
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 11px;
}
.rect4{
  width: 79%;
  height: 27px;
  border-radius: 3px;
  border: solid 0.5px #cccccc;
  background-color: #ffffff;
}
.p5{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #48465b;
  /* margin-top: 7px; */
  /* margin-left: 8px; */
}
.rect5{
  width: 80%;
  height: 31px;
  border-radius: 3px;
  border: solid 0.5px #cccccc;
  background-color: #ffffff;
}
.p6{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: #48465b;
  /* margin-top: 7px; */
  /* margin-left: 8px; */
}
.rect6{
  width: 80%;
  height: 27px;
  border-radius: 3px;
  border: solid 0.5px #cccccc;
  background-color: #ffffff;
}
.p7{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: end;
  color: #48465b;
  /* margin-top: 7px; */
  /* margin-left: 8px; */
}
.rect7{
  width: 81%;
  height: 27px;
  border-radius: 3px;
  border: solid 0.5px #cccccc;
  background-color: #ffffff;
}
.p8{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #48465b;
  /* margin-top: 7px; */
  /* margin-left: 8px; */
}
.rect8{
  width: 86%;
  height: 27px;
  border-radius: 3px;
  border: solid 0.5px #cccccc;
  background-color: #ffffff;
}
.p9{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: end;
  color: #48465b;
  /* margin-top: 7px; */
  /* margin-left: 8px; */
}
.per_schedule_qty{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top:29px
}
.incoterm{
  /* width: -11px; */
  /* height: 17px; */
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  margin-top: 29px;
}
.rect9{
  width: 86%;
  height: 27px;
  border-radius: 3px;
  border: solid 0.5px #cccccc;
  background-color: #ffffff;
}
.p10{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: end;
  color: #48465b;
  /* margin-top: 7px; */
  /* margin-left: 8px; */
}
.attachment{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}
.cl_div{
  height: 70px;
  border-radius: 3px;
  border: dashed 0.5px #cccccc;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input:focus {
  outline: none !important;
}
.mat_error_item.mat-error {
  color: #f44336;
  padding-top: 30px !important;
  position: absolute;
  padding-left: -9px !important;
  margin-left: -25.5%;
  font-size: 12px;
}
.mat_error_material.mat-error {
  color: #f44336;
  padding-top: 30px !important;
  position: absolute;
  padding-left: -9px !important;
  margin-left: -25%;
  font-size: 12px;
}
.mat_error_material_text.mat-error {
  color: #f44336;
  padding-top: 43px !important;
  position: absolute;
  padding-left: -9px !important;
  margin-left: -27%;
  font-size: 12px;
}
.mat_error_Uom.mat-error {
  color: #f44336;
  padding-top: 30px !important;
  position: absolute;
  padding-left: -9px !important;
  margin-left: -26%;
  font-size: 12px;
}
.mat_error_TtlQty.mat-error {
  color: #f44336;
  padding-top: 30px !important;
  position: absolute;
  padding-left: -9px !important;
  margin-left: -26%;
  font-size: 12px;
}
.mat_error_PSQty.mat-error {
  color: #f44336;
  padding-top: 30px !important;
  position: absolute;
  padding-left: -9px !important;
  margin-left: -27.5%;
  font-size: 12px;
}
.mat_error_price.mat-error {
  color: #f44336;
  padding-top: 30px !important;
  position: absolute;
  padding-left: -9px !important;
  margin-left: -12%;
  font-size: 10px;
}
.mat_error_rating.mat-error {
  color: #f44336;
  padding-top: 30px !important;
  position: absolute;
  padding-left: -9px !important;
  margin-left: -27%;
  font-size: 12px;
}
.mat_error_notes.mat-error {
  color: #f44336;
  padding-top: 51px !important;
  position: absolute;
  padding-left: -9px !important;
  margin-left: -26%;
  font-size: 12px;
}
.mat-dialog-content {
  margin: 0;
  padding: 0;
  max-height: 74vh;
}
.top-padding{
  margin-top: 1rem;
}
.preview{
  height: 50px !important;
  width: auto !important;
  min-height: 50px !important;
  margin: 0px 10px !important;
}
